{% extends "base.html" %}{% block title %}Shop It Here{% endblock %}
{% block content %}
<form method = "POST">
  <section class="h-100 h-custom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">Shopping Bag</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                {% for item, product in product_dict.items() %}
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img src={{ product.image_url}} class="rounded" alt="Cinque Terre" width="254" height="136">
                      <div class="flex-column md-4">
                        <p class="mb-2" style="margin-left: 25px;">{{ product.name}}</p>
                        <p class="mb-0" style="margin-left: 25px;">{{ product.description}}</p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle" >
                    <div class="d-flex flex-row" >
                      <a href="{{ url_for('views.remove_one_from_cart',item_id=item.id) }}" class="text-decoration-none"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i style="padding-right: 10px"><b>-</b></i>
                      </a>

                      <input id="form1" min="0" name="quantity" value={{ item.quantity}} type="number"
                        class="form-control form-control-sm" style="width: 50px;" />

                      <a href="{{ url_for('views.shopping_cart',product_id=product.id) }}" class="text-decoration-none"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i style="padding-left: 10px"><b>+</b></i>
                      </a>
                    </div>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">${{product.price}}</p>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

          <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4">

              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                          value="" aria-label="..." checked />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                          <i class="fa fa-cc-mastercard fa-2x"style="padding-right: 10px"></i>Credit
                          Card
                        </p>
                      </div>
                    </div>
                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                          value="" aria-label="..." />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                          <i class="fa fa-cc-visa fa-2x" style="padding-right: 10px" ></i>Debit Card
                        </p>
                      </div>
                    </div>
                    <div class="d-flex flex-row">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                          value="" aria-label="..." />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                          <i class="fa fa-cc-paypal fa-2x" style="padding-right: 10px"></i>PayPal
                        </p>
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-6">
                  <div class="row">
                    <div class="col-12 col-xl-6">
                      <div class="form-outline mb-4 mb-xl-5" >
                        <label for="card-holder">Card Holder</label>
                        <input id="card-holder" type="text" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">
                      </div>
                      <div class="form-outline mb-4 mb-xl-5">
                        <label for="card_expiry">Expiration Date</label>
                        <input type="text" name="card_expiry" class="form-control" placeholder="MM/YY" aria-label="MM" aria-describedby="basic-addon1"
                        size="7" id="exp" minlength="5" maxlength="5" required>
                      </div>
                    </div>
                    <div class="col-12 col-xl-6">
                      <div class="form-outline mb-4 mb-xl-5">
                        <label for="card_number">Card Number</label>
                        <input id="card_number" name="card_number" type="text" class="form-control" placeholder="1111 2222 3333 4444" 
                        aria-label="Card Holder" aria-describedby="basic-addon1"  minlength="15" maxlength="19" required >
                      </div>

                      <div class="form-outline mb-4 mb-xl-5">
                        <label for="card_cvv">CVV</label>
                        <input id="card_cvv" name="card_cvv" type="password" class="form-control" placeholder="&#9679;&#9679;&#9679;"
                        aria-label="Card Holder" aria-describedby="basic-addon1" size="1" minlength="3" maxlength="3" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-2">Subtotal</p>
                    <p class="mb-2">${{total}}</p>
                  </div>

                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-0">Shipping</p>
                    <p class="mb-0">$2.99</p>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Total (tax included)</p>
                    <p class="mb-2">${{total+2.99}}</p>
                  </div>

                  <button type="submit" class="btn btn-primary btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span>Checkout</span>
                      <span>${{total+2.99}}</span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}